<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Create Booking Success</title>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>



<div style="text-align:center;margin-top:100px;">
    <h2 style="color:green;">✔ Booking created successfully</h2>
    <br>
    <a href="/bookings" class="btn">Back to Booking List</a>
</div>



</body>
</html>